In [1]:
import requests
import pandas as pd
import time
from selenium import webdriver

In [9]:
# 리그 팀 이름 아이디 크롤링
def crawling_league_teams(team_id):
    url = "https://www.whoscored.com/Teams/" + str(team_id)
    driver =  webdriver.Firefox()
    driver.get(url)
    time.sleep(3)
    team_names = driver.find_elements_by_css_selector("#teams option")
    
    df = pd.DataFrame(columns=["team_id","name"])
    
    for team_name in team_names:
        name = team_name.text 
        team_id = team_name.get_attribute("value").split("/")[2]
        tmp_dict = {"team_id":team_id, "name":name}
        df.loc[len(df)] = tmp_dict
    return df

In [10]:
# 팀 선수 리스트 크롤링
def crawling_team_players(team_id):
    print(team_id)
    url = "https://www.whoscored.com/Teams/" + str(team_id)
    driver =  webdriver.Firefox()
    driver.get(url)
    time.sleep(5)
    elements = driver.find_elements_by_css_selector("#player-table-statistics-body tr")
    
    df = pd.DataFrame(columns=[
            'number','flag', 'name', 'age', 'position', 'tall', 'weight', 'full_time', 'half_time', 'mins', 
            'goals', 'asists', 'yel', 'red', 'spg', 'ps', 'motm', 'aw', 'rating',
        ])
    
    print(len(elements))
    
    for element in elements:
        number = element.find_elements_by_css_selector("td")[0].text
        flag = element.find_elements_by_css_selector("td")[1].find_elements_by_css_selector("span")[0].get_attribute("class").split("-")[2]
        name = element.find_elements_by_css_selector("td")[2].find_elements_by_css_selector("a")[0].text
        age = element.find_elements_by_css_selector("td")[2].find_elements_by_css_selector("span")[0].text
        position = element.find_elements_by_css_selector("td")[2].find_elements_by_css_selector("span")[1].text
        tall = element.find_elements_by_css_selector("td")[3].text
        weight = element.find_elements_by_css_selector("td")[4].text
        games = element.find_elements_by_css_selector("td")[5].text
        games = games.split("(")
        full_time, half_time = games[0], 0
        if len(games) > 1 :
            half_time = games[1].replace(")","")
        else :
            half_time = 0
        
        mins = element.find_elements_by_css_selector("td")[6].text
        goals = element.find_elements_by_css_selector("td")[7].text
        asists = element.find_elements_by_css_selector("td")[8].text
        yel = element.find_elements_by_css_selector("td")[9].text
        red = element.find_elements_by_css_selector("td")[10].text
        spg = element.find_elements_by_css_selector("td")[11].text
        ps = element.find_elements_by_css_selector("td")[12].text
        aw = element.find_elements_by_css_selector("td")[13].text
        motm = element.find_elements_by_css_selector("td")[14].text
        rating = element.find_elements_by_css_selector("td")[15].text
        
        tmp_dict = { 
            "number": number, 
            "flag": flag,
            "name": name, 
            "age": age, 
            "position": position, 
            "tall": tall,
            "weight": weight, 
            "full_time": full_time,
            "half_time": half_time,
            "mins": mins,
            "goals": goals,
            "asists": asists,
            "yel": yel,
            "red": red,
            "spg": spg,
            "ps": ps,
            "aw": aw,
            "motm": motm,
            "rating": rating,
        }
        df.loc[len(df)] = tmp_dict
    return df

In [11]:
crawling_league_teams(14)

   team_id                  name
0       13               Arsenal
1       24           Aston Villa
2      183           Bournemouth
3       15               Chelsea
4      162        Crystal Palace
5       31               Everton
6       14             Leicester
7       26             Liverpool
8      167       Manchester City
9       32     Manchester United
10      23      Newcastle United
11     168               Norwich
12      18           Southampton
13      96                 Stoke
14      16            Sunderland
15     259               Swansea
16      30             Tottenham
17      27               Watford
18     175  West Bromwich Albion
19      29              West Ham